<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
  </head>

  <body>
        <%= render "shared/error_messages", error: @error %>


    <div class ="w3-display-middle w3-round-xxlarge w3-border w3-ios-red " style="height:316px;width:400px;">
      
      <%= form_for :user, :url => {:controller => :sessions, :action => :create} do |f| %>
      
      <br>
      
      <div class="w3-row w3-center w3-margin-top">
        <div class="w3-col s1 m1 l1 w3-center ">
          <p>
          </p>
        </div>

        <div class="w3-col s10 m10 l10 w3-center">
          <div class="field w3-center">
            <%= f.label :email %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w3-input w3-round-large" %>
          </div>
            
          <br>
          
          <div class="field w3-center">
            <%= f.label :password %><br>
            <%= f.password_field :password, autocomplete: "current-password", class: "w3-input w3-round-large" %>
          </div>

          <br>
          
          <div class="w3-row w3-center">
            <div class="w3-col s2 m2 l2 w3-center ">
              <p>
              </p>
            </div>
            
            <div class="w3-col s8 m8 l8 w3-center ">

              <div class="actions w3-center ">
                <%= f.submit "Log in", class: "w3-button w3-black w3-hover-green w3-round-large", style: "width:100%;" %>
              </div>

            </div>
            
            <div class="w3-col s2 m2 l2 w3-center ">
              <p>
              </p>
            </div>
          </div>



          <br>
          <% if devise_mapping.rememberable? %>
        
          <div class="field w3-left w3-margin-left">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        
          <% end %>
  
          <%= link_to "sign up", sign_up_path, method: :get, class: "w3-right w3-margin-right" %>
        </div>

        <div class="w3-col s1 m1 l1 w3-center">
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>





