<div>
<%@post.id%>
</div>
<div>
  <%= image_tag @post.image_url %>
</div>

<%if params[:error] != nil%>
<%=params[:error]%>
<%end%>

<%= form_for :comment_form, :url => {:controller => :comment, :action => :create} do |f| %>
    <%if @error != nil%>
    <%= @error%>
    <%end%>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.hidden_field :post_id, :value => @post.id%>
    <%= f.text_field :comment %>
  </div>

  <div class="actions">
    <%= f.submit "create comment" %>
  </div>
<% end %>


<div>

<%@comment.each do |comment|%>
<div>
<%=comment.id%>
<%=(User.find(comment.author_id)).email%>
<%=comment.comment%>
<%if comment.author_id == current_user.id%>
<%= button_to 'Update', {:controller => 'comment', :action => 'show', :comment_id => comment.id}, :method => :get, class: 'buttonAddMarkMainPage' %>
<%= button_to 'Delete', {:controller => 'comment', :action => 'destroy', :comment_id => comment.id}, :method => :delete, data: { confirm: 'Are you sure?' }, class: 'buttonAddMarkMainPage' %>   
<%end%>
</div>
<%end%>
</div>

